@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: georgia, serif;
}

body {
  background-image: url('../img/background-image.jpg');
  background-repeat:no-repeat;
  background-position: top left;
  background-size: 800%;

  margin: 0;
  padding: 0;
}



/*----------------------------------------------------------------------HEADER*/

header img{
  width: 100%;

  margin: 1rem 0 0 0;
}


/*------------------------------------------------------------------SOCIAL NAV*/

nav {

  padding: .75rem;


  width: 100%;
}

.social {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0 0 0 -.7rem;

}

.social li {
  list-style-type: none;

  margin: 0 0 0 .3rem;
}

.social img {
  width: 30px;
}

.social a:hover,
.social a:active,
.social a:focus {
  opacity: .4;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

/*----------------------------------------------------------------------SCROLL*/

.scroll {
  width: 100%;
}

/*------------------------------------------------------------------------WORK*/

.work-list img {
  width: 100%;
}

.work-list {
  list-style-type: none;

  display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;

    margin: 0 2rem 0 0;

}

.work-list li {
  padding: 0 0 .5rem 0;
}

.work-list a:hover,
.work-list a:active,
.work-list a:focus {
  opacity: .4;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
