@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
    background-color: #333;
    font-family: "roboto" , helvetica, sans-serif;
}

/*----------------------------------------------------------------------HEADER*/

header {
  width: 100%;
  top:0;
  margin:0;
  padding:0;
  background-color: #222222;
}

/*------------------------------------------------------------------SOCIAL NAV*/

.social-nav {
  margin:0;
  padding:10px;

  text-align:center;
}

.social-nav li {
  list-style-type: none;
  display: inline-block;

  margin: 5px;

  width: 45px;
  height:45px;
}



/*TWITTER*/

#twitter {
  background-image: url('../img/twitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#twitter:hover {
  background-image: url('../img/twitter-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*BEHANCE*/

#behance {
  background-image: url('../img/behance.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#behance:hover {
  background-image: url('../img/behance-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*INSTAGRAM*/

#instagram {
  background-image: url('../img/instagram.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#instagram:hover {
  background-image: url('../img/instagram-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*GITHUB*/

#github {
  background-image: url('../img/github.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#github:hover {
  background-image: url('../img/github-hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*----------------------------------------------------------------------SPLASH*/

.splash {
  background-image: url('../img/dark_wood_@2X.png');
  background-position: 0 0;
  background-attachment: fixed;

  width: 100%;
  margin:0;
  padding:20px;

  text-align: center;
  color: #eeeeee;
}

.profile {
  width: 90px;
  height: 90px;
  border-radius: 80%;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #eeeeee;
}

.sub {
  font-style:italic;
  font-weight: 100;
  font-size: 1rem;
  color: #eeeeee;
}

@media only screen and (min-width: 30em){

  .splash {
    padding: 30px;
  }

  .profile {
    width: 110px;
    height: 110px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .sub {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 65em){

  .splash {
    padding: 40px;
  }

  .profile {
    width: 200px;
    height: 200px;
  }

  h1 {
    font-size: 4rem;
    padding:0;
    margin:1.5rem;
  }

  .sub {
    font-size: 2rem;
    padding:0;
    margin:1rem;
  }
}

/*------------------------------------------------------------------------WORK*/



.work {
  position: relative;
  overflow: hidden;
  width: 420px;
  margin: 30px auto;
  padding: 10px;

}

@media only screen and (min-width: 40em){
  .work {
    width: 820px;
  }
}

@media only screen and (min-width: 75em){
  .work {
    width: 1420px;
  }
}

.view-tenth:hover h2 {
  color: #eeeeee;
  background-color: #f6482a;
  border-right: 8px solid #f42d0a;
  border-bottom: 8px solid #f42d0a;
  padding: 5px;
}

.view-tenth:hover p {
  color: #eeeeee;
  font-style: italic;
  font-weight: lighter;
}

.view-tenth:hover a.info {
  color: #f6482a;
  text-decoration: none;
}

.view-tenth:hover a.info:hover {
  color: #eeeeee;
  text-decoration: none;
}

/*----------------------------------------------------------------TUMBLR POSTS*/

.comments {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  background-color: #333;


}

.comments-title {
  width: 100%;
  top:0;
  background-color: #222222;
  padding: 5px;
  margin: 1px 0 10px 0;
  text-align: center;
}

h4 {
  font-weight: 100;
  color: #eeeeee;
  font-size: 2rem;
  margin: 20px 0 0;
  padding: 0;
}

.comments-title a {
  color: #f6482a;
  padding:0;
}

.comments-title a:hover {
  color: #eeeeee
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.tumblr_posts {
  position: relative;
  padding: 30px;
  width: 100%;
  margin:0 auto;
  overflow: hidden;

}

@media only screen and (min-width: 29em){
  .tumblr_posts {
    width: 80%;
  }
}

@media only screen and (min-width: 60em){
  .tumblr_posts {
    width: 70%;
  }
}

.tumblr_post.tumblr_photo_post{
  float: left;
  overflow:hidden;

  width: 200px;
  height:200px;

}

.tumblr_post.tumblr_video_post {
  width: 200px;
  height: 200px;
  float:left;
  overflow: hidden;
}

.photoset{
  width: 200px;
  height:200px;
}


.tumblr_photo_post img{
  width: 100%;
  height: 100%;
}

.tumblr_caption {
  display:none;
}


/* CLEARFIX */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​

/*----------------------------------------------------------------------FOOTER*/

footer {
  background-color: #191919;
  margin: 1rem 0 0;
  width: 100%;
}

nav {
  background-color: #222222;
}

.footer {
  color: #666;

  padding: 10px;
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin:0 auto;
}
