<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{{page.title}} - SLACKER</title>

  <link href="css/general.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

  <!--Mobile Optimization -->

<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">


</head>
<body>

{{content}}

<footer>
  <p>@CSlack Design 2013</p>
</footer>

<script src="js/smooth-scroll.js"></script>










</body>
</html>
